

@font-face {
    font-family: 'IRANSans';
    src: url('/fonts/woff2/IRANSansWeb.woff2') format('woff2'), 
         url('/fonts/woff/IRANSansWeb.woff') format('woff');   
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IRANSans', sans-serif;
}